html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    }
    
#circle {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s;
}

.progress-ring{
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.input-value{
    width:60px;
    border-radius: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    width: 568px;
    height: 320px;
    border:2px dashed rgb(100, 189, 244);
    position:relative;
    display: flex;
}

.border > * {
    height: 100%;
    width: 50%;
}

.progress-space{
    border-bottom: 2px dashed rgb(100, 189, 244);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.value{
    border-radius:10px;
    resize:none;
    width: 60px;
}
#value{
    font-family: Verdana;
    font-size: 50;
    padding-top: 3px;
}

.valueOfProgress{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressValue{
    margin-right: 8px;
}

.nameMenu{
    margin-bottom: 7px;
}

.animate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    margin-top: 20px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 568px) {
    .border {
        flex-direction: column;
        width: 320px;
        height: 568px;
    }

    .border > * {
        height: 50%;
        width: 100%;
    }
}